/* fonts */
@font-face {
  font-family: "Raleway-regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-medium";
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway-bold";
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway-extrabold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: "Raleway-semibold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway-black";
  src: url(../fonts/Raleway-Black.ttf);
}
@font-face {
  font-family: "Open-sans";
  src: url(../fonts/open-sans.light.ttf);
}

/* color */

:root {
  --primary: #eebf00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
  --blue: #1947ba;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway-regular";
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.nav-background{
  width: 100%;
  height: 100%;
  background: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
}
.nav-trigger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
  display: none;
}
.nav-trigger svg{
  transform: rotate(90deg) scaleX(-1);
  width: 40px;
  height: 40px;
  color: var(--danger);
}
.site-content-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--heaven);
  z-index: 2;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.site-content-wrapper.scaled {
  transform: scale(0.9) translateX(90%);
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 var(--secondary);
}
.site-content-wrapper .site-content {
  width: 100%;
  height: 100%;
}
.mobile-icon{
  height: 85px;
  border-radius: 8px;
}
.nav-background .mobile-logo {
  padding: 1rem;
}
.nav-background .mobile-nav {
  padding: 1rem;
}
.nav-background .mobile-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.nav-background .mobile-nav ul li {
  margin-bottom: 1rem;
}
.nav-background .mobile-nav ul li a {
  text-decoration: none;
  color: var(--ternary);
  font-family: "Raleway-SemiBold";
}
.nav-background .mobile-nav ul li a:hover {
  background-color: red;
  color: var(--heaven);
  border-radius: 8px;
}
.nav-background .contact,
.nav-background .time {
  padding: 1rem;
  padding-left: 0;
}
.nav-background .contact img,
.nav-background .time img {
  margin-right: 1rem;
}
.nav-background .contact h5,
.nav-background .time h5 {
  font-family: "Open-sans";
  margin-bottom: 0.25rem;
  font-size: 1rem;
}
.nav-background .contact h6,
.nav-background .contact h6 {
  font-size: 0.75rem;
}
header.topbar {
  background: var(--blue);
  color: var(--pure);
  font-family: "rubik", sans-serif;
  padding: 0.8rem 0;
}
header.topbar .icons {
  font-size: 14px;
}
header.topbar .icons img {
  margin-right: 0.3rem;
  height: 20px;
  width: 20px;
}

header.topbar .auth > div a {
  color: var(--pure);
  text-decoration: none;
}
header.topbar .auth > div img {
  margin-right: 0.35rem;
}
header.topbar .divider {
  padding: 0 1rem;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
nav {
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
nav .top {
  padding: 0rem 0;
}
nav .top .navbar{
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
nav .top .navbar a {
  /* transition: all 0.3s;  */
  float: left;
  font-family: "Raleway-SemiBold";
  font-size: 16px;
  color: var(--ternary);
  text-align: start;
  padding: 14px 16px;
  text-decoration: none;
}
nav .top .navbar a.active {
  color: var(--danger);
}
nav .top .navbar a:hover {
  color: var(--heaven);
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: var(--ternary);
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Raleway-SemiBold";
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
  color: var(--heaven);
  border-radius: 8px;
}
.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: flex;
  flex-direction: column;
}
.fa-caret-down{
  width: 20px;
  height: 20px;
}
.hero {
  margin-top: 135px;
  width: 100%;
  position: relative;
}
.hero .slider {
  width: 100%;
  position: relative;
}

.hero .slider img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--blue);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.hero .active {
  background-color: var(--danger);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshowSuccess-container {
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dotSuccess {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--blue);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.successStory .active {
  background-color: var(--danger);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}
section.about-us {
  background: var(--heaven);
  position: relative;
  z-index: 0;
}
section.about-us .article-wrapper{
  display: flex;
  margin-right: -2rem;
}
section.about-us .article-wrapper .card:first-child {
  width: 50%;
  color: var(--ternary);
  text-align: justify;
}
section.about-us .article-wrapper .card {
  margin-right: 2rem;
  border-radius: 4px;
  width: 40%;
}
section.about-us .article-wrapper .card img {
  width: 100%;
  margin-top: 2rem;
  border-radius: 8px;
}
section.about-us .article-wrapper .card .card-content {
  padding: 2rem 0;
}

section.about-us .article-wrapper .card .card-content h2{
  font-size: 2rem;
  font-family: "Raleway-bold";
  margin-bottom: 1rem;
}
section.about-us .article-wrapper .card .card-content p {
  line-height: 2rem;
  font-family: "Raleway-regular";

}
section.about-us .btn-wrapper {
  margin: 2rem 0;
  text-align: center;
}
section.about-us .btn-wrapper .explore {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--danger);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--heaven);
  font-family: "Raleway-Bold";
  margin-right: 1rem;
}

section.about-us .btn-wrapper .view-all {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--heaven);
  border: 1px solid var(--danger);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--danger);
  font-family: "Raleway-Bold";
}
.category {
  background-color: #e9e9e9;
  padding: 2rem 0;
  align-items: center;
  text-align: center;
}
.category .container .title {
  margin: auto;
  width: 95%;
}
.category .container .title h1 {
  font-family: "Raleway-Bold";
  font-size: 2rem;
  text-align: center;
  color: var(--footer);
  align-items: center;
  margin: auto;
  padding: 3rem;
}
.category .container .title p {
  text-transform: uppercase;
  color: var(--ternary);
  font-size: 1rem;
  font-family: "Raleway-medium";
}
.category .card-wrapper {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: start;
}
.category .service-card {
  background-color: var(--blue);
  width: 160px;
  height: 160px;
  margin-right: 15px;
  margin-bottom: 18px;
  padding: 0.2rem;
}
.category .service-card:hover {
  background-color: var(--danger);
}
.category .service-card img {
  position: relative;
  margin: auto;
  height: 40px;
  top: 1rem;
}
.category .service-card .brand_img{
  width: 100% !important;
  height: 100% !important;
  margin-top: -16px !important;
}
.category .service-card p {
  position: relative;
  top: 2rem;
  color: var(--heaven);
  font-family: "Raleway-bold";
  font-size: 1rem;
  text-transform: uppercase;
}
/* contact us Start */
.contact {
  background-color: var(--pure);
}
.contact .card {
  height: 380px;
  width: 470px;
  margin-right: 10px;
  margin-bottom: 1rem;
  background: var(--heaven);
  border: 1px solid var(--blue);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(17, 12, 79, 0.1);
}
.contact .card .card-header{
  padding: 2rem;
  text-align: center;
}
.contact .card .card-content{
  display: flex;
  padding: 1.5rem;
}
.contact .card .card-content img{
  margin-right: 1rem;
}
/* contact us end */
.solution {
  background-color: var(--pure);
}
.solution .solution-title {
  padding-top: 5rem;
  width: 25%;
  text-align: center;
  align-items: center;
  font-family: "Raleway-extrabold";
  color: var(--ternary);
}
.solution .solution-text {
  padding: 5rem;
  width: 50%;
  text-align: justify;
  align-items: center;
  font-family: "Raleway-regular";
  line-height: 1.2rem;
}
.solution .solution-text p {
  font-family: "Raleway-regular";
  padding: 1rem 0;
  font-size: 15px;
  line-height: 21px;
  color: var(--ternary);
  opacity: 0.8;
}
.solution-statement{
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.solution-statement p{
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--ternary);
  opacity: 0.8;
  line-height: 2rem;
  font-family: "Raleway-regular";
}
.solution .solution-button {
  padding-top: 5rem;
  width: 25%;
  text-align: center;
  align-items: center;
  position: relative;
  line-height: 5rem;
}
.solution .solution-button .explore {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--danger);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--heaven);
  font-family: "Raleway-Bold";
  margin-right: 1rem;
}
.solution .card {
  height: 560px;
  width: 370px;
  margin-right: 10px;
  margin-bottom: 1rem;
  background: var(--heaven);
  border: 1px solid var(--pure);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(17, 12, 79, 0.1);
}
.solution .card img {
  width: 370px;
}
.solution .card h2 {
  text-align: center;
  padding: 1.2rem;
  font-family: "Raleway-medium";
  color: var(--ternary);
}
.solution .solution-footer {
  padding: 5rem 0;
}
.solution .solution-footer h1 {
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  max-width: 570px;
  color: var(--blue);
}
.solution .solution-footer .left {
  float: left;
  width: 70%;
}
.solution .solution-footer .left p {
  font-family: "Raleway-regular";
  padding: 1rem 0;
  font-size: 18px;
  line-height: 26px;
  color: var(--ternary);
  opacity: 0.8;
}
.solution .solution-footer .right {
  float: right;
  padding-top: 5rem;
}

.solution .solution-footer .explore {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--danger);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--heaven);
  font-family: "Raleway-Bold";
  margin-right: 1rem;
}

.successStory {
  padding: 3rem 0;
  height: 200px;
  width: 100%;
  background-color: var(--light);
}
.successStory h1 {
  text-align: center;
  align-items: center;
  color: var(--danger);
  margin: auto;
  font-family: "Raleway-Bold";
  padding-bottom: 2rem;
}

.successStory .slideshowSuccess-container p {
  text-align: center;
  margin: auto;
  font-family: "Raleway-regular";
  padding: 1rem 0;
  font-size: 18px;
  line-height: 26px;
  color: var(--ternary);
  opacity: 0.8;
}

.fature {
  height: 560px;
  background: content-box border-box no-repeat
    url("../images/features_banner.jpg");
  object-fit: cover;
}
.fature h1 {
  padding-top: 5rem;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
}
.fature .main {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.fature .card {
  height: 220px;
  width: 220px;
  background-color: var(--heaven);
  text-align: center;
  padding: 0.5rem;
}
.fature .card h2 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black",
    "sans-serif";
  color: #000;
  font-size: 1.5rem;
}
.fature .card h4 {
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

/* start client here */
section.brand {
  background: var(--heaven);
}

.section-heading {
  font-family: "Raleway-medium";
  text-align: center;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
}
.section-heading:after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-image: url(../icons/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -40px;
}
section.brand .food-slider {
  display: flex;
}
section.brand .food-slider .food-card {
  width: 160px;
  height: 160px;
  padding: 1.5rem 0;
  border-radius: 4px;
  margin-right: 8px;
}
section.brand .food-slider .food-card .product-image img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  padding-bottom: 1rem;
  border: 1px solid var(--blue);
}

.slick-slide {
  margin: 0 27px;
}
.slick-list {
  margin: 0 -27px;
}
.brand .slider-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: var(--blue);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.prev-btn {
  position: absolute;
  top: 46%;
  left: -3rem;
  z-index: 1;
}
.next-btn {
  position: absolute;
  top: 46%;
  right: -4rem;
  z-index: 1;
}
.brand .slider {
  position: relative;
}
.brand .btn-wrapper {
  margin: 2rem 0;
  text-align: center;
}
.brand .btn-secondary {
  width: 105px;
  height: 40px;
  text-align: center;
  background-color: var(--blue);
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.slick-track {
  padding: 1rem 0;
}

.pages-supplier {
  width: 100%;
  height: 150px;
  background-color: var(--danger);
  padding: 1rem 0;
  align-items: center;
}
.pages-supplier .left {
  width: 50%;
  padding-top: 2rem;
}
.pages-supplier .right {
  padding-top: 4rem;
}
.pages-supplier h1 {
  font-size: 2rem;
  font-family: "Raleway-Medium";
  color: var(--heaven);
  max-width: 90%;
  padding: 2rem 0;
}

.pages-supplier .right .explore {
  width: 260px;
  height: 50px;
  border: none;
  background-color: var(--primary);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--heaven);
  border: 1px solid var(--blue);
  font-family: "Raleway-Bold";
  margin-right: 1rem;
  cursor: pointer;
}
.pages-supplier .right .explore:hover {
  background-color: var(--blue);
}

.pages-supplier .right .view-all {
  width: 260px;
  height: 50px;
  border: none;
  background-color: var(--heaven);
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--secondary);
  font-family: "Raleway-Bold";
  cursor: pointer;
}
.pages-supplier .right .view-all:hover {
  background-color: var(--blue);
  color: var(--heaven);
}

.supplier {
  width: 100%;
  height: 250px;
  background-color: var(--danger);
  padding: 1rem 0;
  align-items: center;
}
.supplier .left {
  width: 45%;
  padding-top: 0.2rem;
}
.supplier .right {
  padding-top: 9rem;
}
.supplier h1 {
  font-size: 2rem;
  font-family: "Raleway-Medium";
  color: var(--heaven);
  max-width: 90%;
  padding: 2rem 0;
}

.supplier .right .explore {
  width: 260px;
  height: 50px;
  border: none;
  background-color: var(--primary);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--heaven);
  border: 1px solid var(--blue);
  font-family: "Raleway-Bold";
  margin-right: 1rem;
  cursor: pointer;
}
.supplier .right .explore:hover {
  background-color: var(--blue);
}

.supplier .right .view-all {
  width: 260px;
  height: 50px;
  border: none;
  background-color: var(--heaven);
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--secondary);
  font-family: "Raleway-Bold";
  cursor: pointer;
}
.supplier .right .view-all:hover {
  background-color: var(--blue);
  color: var(--heaven);
}

.supplier .left .input-wrap {
  width: 450px;
  background: var(--heaven);
  display: flex;
  padding: 0.3rem;
  border-radius: 4px;
}
.supplier .left .input-wrap input {
  width: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
}
.supplier .left .input-wrap input:focus {
  outline: none;
}
.supplier .left .input-wrap button {
  padding: 0.8rem 2rem;
  border: none;
  background: var(--blue);
  color: var(--pure);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.supplier .left .input-wrap button:hover {
  background: var(--secondary);
}
/* message form start */
.meesage_form {
  width: 100%;
  height: 600px;
  background-color: var(--danger);
  padding: 1rem 0;
  align-items: center;
}
.meesage_form .left {
  width: 50%;
  padding-top: 0.2rem;
}
.meesage_form .right {
  padding-top: 1rem;
}
.meesage_form h1 {
  font-size: 1.9rem;
  font-family: "Raleway-Medium";
  color: var(--heaven);
  max-width: 100%;
  padding: 2rem 0;
}

.meesage_form .right .view-all {
  width: 260px;
  height: 50px;
  border: none;
  background-color: var(--heaven);
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--secondary);
  font-family: "Raleway-Bold";
  cursor: pointer;
}
.meesage_form .right .view-all:hover {
  background-color: var(--blue);
  color: var(--heaven);
}
.meesage_form .right .message{
  display: flex;
  flex-direction: column;
}
.meesage_form .right .message .label{
  font-size: 1.3rem;
  font-family: "Raleway-medium";
  color: var(--heaven);
  padding: 1rem 0;
}
.meesage_form .right .message input{
  height: 30px;
  width: 320px;
  font-family: "Raleway-Regular";
  font-size: 1rem;
}
.meesage_form .right .message textarea{
  width: 100%;
  height: 280px;
  margin-bottom: 5px;
  font-family: "Raleway-Regular";
  font-size: 1rem;
}
.meesage_form .left .input-wrap {
  width: 450px;
  background: var(--heaven);
  display: flex;
  padding: 0.3rem;
  border-radius: 4px;
}
.meesage_form .left .input-wrap input {
  width: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
}
.meesage_form .left .input-wrap input:focus {
  outline: none;
}
.meesage_form .left .input-wrap button {
  padding: 0.8rem 2rem;
  border: none;
  background: var(--blue);
  color: var(--pure);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.meesage_form .left .input-wrap button:hover {
  background: var(--secondary);
}

/* message form end */
.footer {
  background-color: var(--blue);
  padding: 4rem 0;
}
.footer .container {
  display: flex;
  color: var(--heaven);
}
.footer .box {
  flex: 1;
  margin-right: 2rem;
  text-align: start;
}
.footer .box ul {
  list-style-type: none;
}

.footer .box ul li a {
  color: var(--heaven);
  text-decoration: none;
  font-weight: bold;
}
.footer .box ul li {
  margin-bottom: 1rem;
}
.footer .box ul li a:hover {
  color: var(--primary);
}

.footer .box .logo {
  height: 85px;
  border-radius: 10px;
}
.footer .box h3 {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.footer .box p {
  line-height: 1.6;
  margin-bottom: 0.8rem;
  padding: 0.2rem 0;
  font-weight: bold;
}

.footer .box button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--footer);
  border: none;
  cursor: pointer;
}
.footer .box button img {
  height: 20px;
  width: 20px;
}

footer {
  background-color: var(--blue);
  height: 40px;
  text-align: center;
  color: var(--heaven);
  padding: 1rem 0;
  border-top: 1px solid var(--heaven);
}

footer .moveUp{
  width: 54px;
  height: 54px;
  float: right;
  position: relative;
  top: -2rem;
  right: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav-trigger {
    display: block;
  }
  header.topbar,
  nav {
    display: none;
  }

  section.hero {
    margin-top: 4rem;
  }
  section.hero .hero-image {
    right: -160px;
    top: 100px;
  }
  section.pageHero{
    margin-top: 80px;
  }
  section.pageHero img{
    min-height: 400px;
  }
  .top-products .slider-btn {
    display: none !important;
  }
  section.about-meal h2 {
    padding: 1rem;
  }
  section.about-meal p {
    padding: 1rem;
  }
  .latest-news .article-wrapper {
    flex-direction: column;
  }
  .latest-news .article-wrapper .card {
    margin-right: 0;
    margin-bottom: 4rem;
  }
  section.solution .container .card{
    width: 330px;
  }
  section.solution .container .card img{
    width: 100%;
    height: 470px;
    border-radius: 8px;
  }
  section.solution .solution-footer .right{
    margin: auto;
  }

  section.supplier .left h1{
    font-size: 1.3rem;
    margin-left: 20px;
  }
  section.supplier .left{
    width: 45%;
  }
  section.supplier .right{
    width: 45%;
  }
  section.supplier .left .input-wrap{
    width: 85%;
    margin-left: 1.9rem;
  }
  section.supplier .right{
    margin-top: -50px;
  }
  section.supplier .right .explore{
    width: 172px;
    margin-left: 8px;
  }
  section.supplier .right .view-all{
    width: 172px;
  }
  /* pages supplier */
  section.pages-supplier{
    flex-direction: row;
  }
  section.pages-supplier .left{
    width: 50%;
    margin-top: -40px;
  }
  section.pages-supplier .left h1{
    font-size: 1.3rem;
    margin-left: 20px;
    text-align: center;
  }

  section.pages-supplier .right{
    width: 45%;
    padding-top: 1rem;
  }
  section.pages-supplier .right .explore{
    width: 172px;
    margin-left: 8px;
  }
  section.pages-supplier .right .view-all{
    width: 172px;
  }
  .meesage_form .left {
    width: 45%;
    padding-top: 0.2rem;
  }
  .meesage_form .left .input-wrap{
    width: 400px;
  }
  footer .box h3,
  ul {
    padding: 1rem;
  }
  footer .box p,
  ul {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
   .nav-trigger {
    display: block;
  }
  header.topbar,
  nav {
    display: none;
  }

  section.hero {
    margin-top: 4rem;
  }
  section.hero .hero-image {
    right: -160px;
    top: 100px;
  }
  section.pageHero{
    margin-top: 80px;
  }
  section.pageHero img{
    min-height: 400px;
  }
  .top-products .slider-btn {
    display: none !important;
  }
  section.about-meal h2 {
    padding: 1rem;
  }
  section.about-meal p {
    padding: 1rem;
  }
  .latest-news .article-wrapper {
    flex-direction: column;
  }
  .latest-news .article-wrapper .card {
    margin-right: 0;
    margin-bottom: 4rem;
  }
  section.category .service-card{
    width: 158px;
    height: 158px;
  }
  section.solution .container .card{
    width: 330px;
  }
  section.solution .container .card img{
    width: 100%;
    height: 470px;
    border-radius: 8px;
  }
  section.solution .solution-footer .right{
    margin: auto;
  }
  section.fature-section .main{
    padding-top: 1rem;
  }
  section.fature-section .main .card{
    margin-bottom: 1rem;
    width: 187px;
    height: 187px;
  }
  section.supplier .left h1{
    font-size: 1.3rem;
    margin-left: 20px;
  }
  section.supplier .left{
    width: 45%;
  }
  section.supplier .right{
    width: 45%;
  }
  section.supplier .left .input-wrap{
    width: 95%;
  }
  section.supplier .right{
    margin-top: -26px;
    margin-left: 30px;
  }
  section.supplier .right .explore{
    width: 142px;
    font-size: 13px;
  }
  section.supplier .right .view-all{
    width: 142px;
    font-size: 13px;
  }
  /* pages supplier */
  section.pages-supplier{
    flex-direction: row;
  }
  section.pages-supplier .left{
    width: 50%;
    margin-top: -40px;
  }
  section.pages-supplier .left h1{
    font-size: 1.3rem;
    text-align: center;
  }

  section.pages-supplier .right{
    width: 45%;
    padding-top: 1rem;
  }
  section.pages-supplier .right .explore{
    width: 172px;
    margin-left: 1px;
    margin-bottom: 10px;
  }
  section.pages-supplier .right .view-all{
    width: 172px;
  }
  .meesage_form{
    display: flex;
    flex-direction: column;
    height: 790px;
  }
  .meesage_form .left{
    width: 95%;
  }
  .meesage_form .right{
    float: left;
    width: 95%;
  }
  .meesage_form .right textarea{
    width: 100%;
  }
  footer .box h3,
  ul {
    padding: 1rem;
  }
  footer .box p,
  ul {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .container{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  section.hero .hero-image {
    right: -235px;
    top: 150px;
  }
  section.pageHero{
    margin-top: 80px;
  }
  section.pageHero img{
    min-height: 400px;
  }
  section.hero .container {
    padding-left: 1rem;
  }
  section.hero {
    margin-top: 4rem;
  }
  section.about-us .article-wrapper{
      flex-direction: column;
      width: 95%;
      content: '';
  }
  section.about-us .article-wrapper .card:first-child{
      width: 95%;
      margin-bottom: 1rem;
  }
  section.about-us .article-wrapper .card:last-child{
    width: 95%;
  }
  section.category .card-wrapper {
    margin-left: 15px;
  }

  section.category .card-wrapper p{
    font-size: 0.8rem;
  }
  section.about-us .btn-wrapper .explore{
    width: 160px;
  }
  section.about-us .btn-wrapper .view-all{
    width: 160px;
  }
  section.category .service-card{
    width: 120px;
    height: 120px;
  }

  section.solution{
    display: flex;
    flex-direction: column;
  }

  section.solution .container .card{
    width: 95%;
    margin-bottom: 2rem;
  }
  section.solution .container .card img{
    width: 100%;
    height: 470px;
    border-radius: 8px;
  }
  section.solution .container{
    flex-direction: column;
  }
  section.solution .solution-footer .left{
    width: 95%;
  }
  section.solution .solution-footer .right{
    margin: auto;
  }
  section.successStory .slideshowSuccess-container {
    text-align: center;
    width: 95%;
  }
  section.fature-section h1{
    text-align: center;
    text-transform: uppercase;
  }
  section.fature-section .main .card{
       margin-bottom: 1rem;
       width: 130px;
       height: 180px;
  }
  section.fature-section .main{
    align-items: center;
    padding: 20px 50px;
  }
  section.supplier{
    flex-direction: column;
  }
  section.supplier .left{
    width: 95%;
    margin-top: 0px;
  }
  section.supplier .left h1{
    font-size: 1.3rem;
    margin-left: 20px;
    text-align: center;
  }
  section.supplier .left .input-wrap{
    width: 85%;
    margin-left: 1.9rem;
  }
  section.supplier .right{
    width: 91%;
    padding-top: 4rem;
  }
  section.supplier .right .explore{
    width: 172px;
    margin-left: 8px;
  }
  section.supplier .right .view-all{
    width: 172px;
  }
  /* pages supplier */
  section.pages-supplier{
    flex-direction: column;
  }
  section.pages-supplier .left{
    width: 95%;
    margin-top: -40px;
  }
  section.pages-supplier .left h1{
    font-size: 1.3rem;
    margin-left: 20px;
    text-align: center;
  }

  section.pages-supplier .right{
    width: 91%;
    padding-top: 1rem;
  }
  section.pages-supplier .right .explore{
    width: 172px;
    margin-left: 8px;
  }
  section.pages-supplier .right .view-all{
    width: 172px;
  }
  section.footer .container {
    flex-direction: column;
    padding: 0.5rem;
  }
  
  section.footer .container .box{
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
  .meesage_form{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .contact{
    display: flex;
    flex-direction: column;
  }
  .contact .container{
    display: block;
  }
  .contact .card{
    width: 90%;
  }
  .meesage_form .right .message input{
    width: 100%;
  }
}
@media (max-width: 410px) {
  section.category .service-card{
    width: 100px;
    height: 100px;
  }
  section.supplier .right{
    margin-left: 8px;
  }
}

@media (max-width: 409px) {
  section.category .service-card{
    width: 100px;
    height: 100px;
  }
  section.supplier .right{
    margin-left: 8px;
  }
}

/* start Pages */
.pageHero{
  width: 100%;
  height: 400px;
  margin-top: 135px;
  overflow: hidden;
  text-align: center;
}
.pageHero img{
  object-fit: cover;
  width: 100%;
  text-align: center;
  margin: auto;
}

 ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
} 

